/* Stile generale del body */
body {
  background: url("SFONDO%20LANDING%20PAGE.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* fisso su desktop */
  font-family: sans-serif;
  color: #ef8f90;
  margin: 0;
}

/* Placeholder dell’input (colore base, ma sovrascritto da Tailwind nel box email) */
input::placeholder {
  color: #ef8f90;
  opacity: 0.8;
}

/* Correzione per mobile */
@media (max-width: 768px) {
  body {
    background-attachment: scroll; /* adattabile su smartphone */
  }
}
